@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  width: max-content;
  animation: marqueeLeft 25s linear infinite;
}

.animate-marquee-right {
  width: max-content;
  animation: marqueeRight 25s linear infinite;
}
